<footer class="site-footer">
    <div class="wrap footer-grid">
  
      <div class="col">
        <h4 data-i18n="col-title-services">Composition Arrangement Perfomance</h4>
      </div>
  
      <div class="col">
        <h4 data-i18n="footer-links">Посилання</h4>
        <ul class="social-icons">
          <li>
            <a href="https://www.instagram.com/artem_53_48?igsh=MTR4NjBqdXR4cjUzcQ==" target="_blank">
              <img src="assets/icons/instagram.png" alt=""> Instagram
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/@ArtemTarkovskyi/featured" target="_blank">
              <img src="assets/icons/youtube.webp" alt=""> YouTube
            </a>
          </li>

            <a href="https://soundcloud.com/artem-tarkovskij-19?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" target="_blank">
              <img src="assets/icons/soundcloud.png" alt=""> SoundCloud
            </a>
          </li>
          <li>
            <a href="https://ko-fi.com/artemtarkovskyi" target="_blank">
              <img src="assets/icons/kofi.png" alt=""> Ko-fi
            </a>
          </li>
        </ul>
      </div>
  
      <div class="col">
        <h4 data-i18n="footer-contact">Контакти</h4>
        <p id="f3-text">
          <a href="https://mail.google.com/mail/?view=cm&fs=1&to=artemtarkomusic@gmail.com" target="_blank">
              artemtarkomusic@gmail.com
          </a>
        </p>
        <a class="btn" href="https://ko-fi.com/artemtarkovskyi" target="_blank" rel="noopener" data-i18n="btn-support-kofi">Підтримати на Ko-fi</a>
      </div>
  
    </div>
</footer>